* {
	padding: 0px;
	margin: 0 auto;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

.left {
	float: left;
}

.right {
	float: right;
}

.pic {
	width: 100%;
	height: 600px;
}

#pic-container {
	height: 580px;
	width: 100%;
	overflow: hidden;
	position: relative;
}

#ul li img {
	height: 100%;
	width: 100%;
}

#pic-container ol {
	position: absolute;
	right: 46%;
	bottom: 10px;
}

#list li {
	height: 20px;
	width: 20px;
	background: #ccc;
	border: solid 1px #666;
	margin-left: 5px;
	color: #000;
	float: left;
	text-align: center;
	cursor: pointer;
	border-radius: 50%;
}

li#on {
	background: #015293;
	color: #fff;
}
#left{
	width: 50px;
	height: 50px;
	line-height: 50px;
	position: absolute;
	cursor: pointer;
	color: #000000;
	opacity: 0.3;
	top: 41%;
	left: 35px;
	font-size: 65px;
	text-align: center;
	background: #00FFFF;
	font-weight: bold;
}
#right{
	width: 50px;
	height: 50px;
	line-height: 50px;
	position: absolute;
	cursor: pointer;
	color: #000000;
	opacity: 0.3;
	right: 35px;
	top: 41%;
	font-size: 65px;
	text-align: center;
	font-weight: bold;
	background: #00FFFF;
}
